/* CLASS UTILITY */
.text-color-blue{
    color: blue;
}

.text-color-grey{
    color: grey;
}
/* END CLASS UTILITY */




/* HEADER */
header{
    background-color: black;
    padding: 5px;
    text-align: right;
}

header img {
    width: 80px;
}



/* NAVBAR */
nav{
    border: 1px solid black;
}

@media screen and (max-width: 991px){;
    nav i, nav button{
        display: none;
    }
}



/* JUMBOTRON */
.jumbotron-fluid{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    height: 550px;
    color: white;
}


.returnal{
    width: 200px;
    margin-top: 200px;
} 

.jumbotron-fluid button {
    background-color: red;
    border-radius: 30px;
    padding: 7px 15px;
    color: white;
}



/* ITEM UNDER JUMBOTRON */
.items-under-jumbotron{
    margin: 30px auto;
}

.item-white-under-jumbotron{
    background-color: white;
    border: 2px solid white;
    border-radius: 15px;
    margin: 12px auto;
}

.item-white-under-jumbotron img {
    width: 100%;
    border: 3px solid white;
    border-radius: 15px;
}

.item-white-under-jumbotron:hover{
    border: 2px solid blue;
}