/* HEADER */
header{
    background-color: black;
    padding: 5px;
    text-align: right;
}

header img {
    width: 80px;
}

nav{
    border: 1px solid black;
}

@media screen and (max-width: 991px){;
    nav i, nav button{
        display: none;
    }
}